{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '../static/css/footer.css' %}">
{% endblock %}


<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <p class=""> ESCUELA DE CONDUCTORES PURRANQUE</p>
                
            </div>
            <div class="col">
                <p>alo</p>
            </div>
            <div class="col">
                <p>alo</p>
            </div>
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos neque aut eum esse sed modi laudantium nihil rem, itaque inventore pariatur. Ipsum soluta illo obcaecati praesentium neque maiores veniam accusantium?</p>
            </div>
        </div>
    </div>
</footer>